* {
    font-family: 'Lato', arial;
}

html,
body {}

body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    text-align: center;
}

.section {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    min-height: 800px;
    font-size: 30px;
}

.row {
    flex-direction: row;
    justify-content: center;
    width: 500px;
    margin: 20px auto;
}

.light {
    background-color: #f9f9f9;
    color: #333;
}

.dark {
    background-color: #333;
    color: #fff;
}

.top {
    justify-content: flex-start;
    padding: 40px 0;
    box-sizing: border-box;
}

.unset {
    min-height: unset;
    padding: 40px 0;
    box-sizing: border-box;
}

.small {
    min-height: 650px;
}

.cta {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 15px 30px;
    font-size: 20px;
    line-height: normal;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 20px;
    border-radius: 3px;
    border: none;
    background-color: #f9f9f9;
    color: #222;
    font-weight: 900;
    letter-spacing: 1px;
}

.cta:hover {
    cursor: pointer;
    background-color: #ccc;
}

.controlsIcon {
    display: flex;
    align-self: center;
    margin: 0 20px 0 0;
}

.fa-stop-circle,
.fa-pause-circle,
.fa-play-circle {
    font-size: 40px;
}

.controlsIcon:hover {
    cursor: pointer;
    color: #ccc;
}

.cta:active,
.cta:focus {
    background-color: #000;
    color: #fff;
}

.controlsIcon:active,
.controlsIcon:focus {
    color: #000;
}

.audioControls {
    display: none;
}


.fadeIn {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.question {}

.subtitles {
    font-size: 16px;

}

.wordmap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.audioWordMap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px;
    min-width: 150px;
    max-width: 200px;
    font-size: 26px;
}